@CHARSET "UTF-8";

body {
	width: 80%;
 	margin: 0 10%;
}

.main-header {
	background: #CCCCCC;
}

.pages-header {
    list-style: none;
}

.pages-header li {
	float: left;
    margin-right: 20px;
}

.pages-header li a {
	text-decoration: none;
}

.main-page header {
	margin: 10px;
}

.login-place-header {
	padding: 10px 20px 10px 0;
	text-align: right;
}

.main {
	width: 75%;
	clear: both;
	float: left;
	margin: 0;
}

.main-aside {
	width: 20%;
	float: right;
	color: black;
	background: #B5CED3;
}

.main-aside li {
	margin-bottom: 5px;
}

.main-aside a {
	color: black;
	text-decoration: none;
}

.main-footer {
	clear: both;
	background: #CCCCCC;
	text-align: center;
}

.input-name {
	margin: 10px;	
}

.enter-login-header {
	padding: 10px;
	text-align: right;
}

.error-message {
	color: red;
}

.login-place-header a {
	text-decoration: none;
}

.user-menu-header {
	display: inline;
	float: left;
	padding: 0 0 0 20px;
}

.first-name-header {
	display: inline;
	padding: 0 30px 0 0;
}

.logout-header {
	display: inline;
	float: right;
}

.admin-links a {
	padding: 5px 10px 10px 0;
}

.table-issues {
	border-collapse: collapse;
	border: 4px double black;
	width: 100%;
	margin: 10px 0;
}

.table-issues th { 
    text-align: left;
    background: #ccc; 
    padding: 5px;
    border: 1px solid black; 
}

.table-issues td { 
    padding: 5px;
    border: 1px solid black;
}

.add-btn {
	margin: 5px 0;
}

.edit-btn {
	margin: 5px 0;
}

.search-btn {
	float: left;
	margin: 0 10px 10px 0;
}

/* width in add issue page */
.add-issue-table select {
	width: 200px;
}

.add-edit-table select {
	width: 200px;
}

select.assignee-select {
	width: 300px;
}

.summary-select {
	width: 300px;
}

.description-select {
	height: 100px;
	width: 300px;
}

td.color-Critical {
	color: red;
}

td.color-Minor {
	color: green;
}

.table-id-name {
	text-align: center;
}

.table-id {
	text-align: center;
}

